@import "mainLayout.css";

body, html {
    height: 100%;
}

.container-fluid{
    height: 100%;
}

.export-header {
    height: auto;
}

#topBar {
    margin-top: 32px;
}

#topBar h1 {
    padding: 0;
}

#main{
    margin: 32px 0;
}

.selection-container {
    padding: 0;
}
.selection{
    text-align: left;
    height: 100%;
}

.preview {
    margin-left: 10px;
    padding: 0;
}

.banner {
    margin: 0;
}

iframe{
    width: 100%;
    margin-top: 15px;
}

.navigation{
    text-align: center;
    padding: 6px 12px;
    width: 165px;
}

#student-table {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}
