body, html {
    height: 100%;
    text-align: center;
}

.container-fluid{
    height: 100%;
}

#main{
    margin-bottom: 20px;
}

.selection{
    text-align: left;
    height: 100%;
}

iframe{
    width: 100%;
    margin-top: 15px;
}

#navigation{
    position: absolute;
    bottom: -70px;
    width: 100%;
}

#navigation .col-sm-4{
    text-align: center;
}
