body{
	padding: 10px;
}
.form-container {
	position: relative;
	width: 62.8%;
}

.indiv-section {
	height: 150px;
	width: 62.8%;
	position: relative;
}

.indiv-info {
	height: 100px;
	margin-left: 32px;
	float: left;
	padding-top: 25px;
}

#accordion {
	margin-top: 32px;
}

.section-heading {
	height: 100px;
	position: relative;
	box-shadow: #555555 0px 1px 4px -2px;
}

.section-icon {
	width: 100px;
	height: 100px;
	float: left;
}

.indiv-icon {
	width: 150px;
	height: 150px;
	background: url("../icons/index/c.jpg") no-repeat;
	background-size: cover;
	border-radius: 50%;
}

.parent-icon {
	background: url("../icons/parent.png") no-repeat;
	background-size: cover;
}

.activities-icon {
	background: url("../icons/alphabet-blocks.png") no-repeat;
	background-size: cover;
}

.food-icon {
	background: url("../icons/food.png") no-repeat;
	background-size: cover;
}

.naps-icon {
	background: url("../icons/nap.png") no-repeat;
	background-size: cover;
}

.diaper-icon {
	background: url("../icons/diaper.png") no-repeat;
	background-size: cover;
}

.section-title {
	float: left;
	height: 100px;
	line-height: 100px;
	margin-left: 32px;
}

.glyphicon {
	float: right;
	position: absolute;
	right: 100px;
	top: 50%;
}

.section-body {
	padding: 20px 20px 0 20px;
	width: 100%;
	box-shadow: #555555 0px 1px 4px -2px;
}

textarea {
	padding: 10px;
	max-width: 90%;
	display: block;
	resize: none;
}

.ui-state-focus {
	outline: none;
}

.save-btn {
	float: right;
	margin: 5px 80px 5px 0;
}