.form-container {
	position: relative;
	width: 62.8%;
}

.section-heading {
	height: 100px;
	position: relative;
	box-shadow: #555555 0px 1px 4px -2px;
}

.section-icon {
	width: 100px;
	height: 100px;
	float: left;
}

.parent-icon {
	background: url("../icons/parent.png") no-repeat;
	background-size: cover;
}

.activities-icon {
	background: url("../icons/parent.png") no-repeat;
	background-size: cover;
}

.food-icon {
	background: url("../icons/parent.png") no-repeat;
	background-size: cover;
}

.naps-icon {
	background: url("../icons/parent.png") no-repeat;
	background-size: cover;
}

.diaper-icon {
	background: url("../icons/parent.png") no-repeat;
	background-size: cover;
}

.other-icon {
	background: url("../icons/parent.png") no-repeat;
	background-size: cover;
}

.section-title {
	float: left;
	height: 100px;
	line-height: 100px;
	margin-left: 32px;
	width: 85%;
}

.glyphicon {
	float: right;
	position: absolute;
	right: 100px;
	top: 50%;
}

.section-body {
	padding: 20px 20px 0 20px;
	width: 100%;
	box-shadow: #555555 0px 1px 4px -2px;
}

textarea {
	max-width: 90%;
	max-height: 100%;
	padding: 10px;
	z-index: 10;
}

.ui-state-focus {
	outline: none;
}