.form-container {
	position: relative;
}
.form-section {
	width: 62.8%;
}

.section-heading {
	height: 100px;
	position: relative;
}

.section-icon {
	width: 100px;
	height: 100px;
	float: left;
}

.parent-icon {
	background: url("../icons/parent.png") no-repeat;
	background-size: cover;
}

.activities-icon {
	background: url("../icons/parent.png") no-repeat;
	background-size: cover;
}

.food-icon {
	background: url("../icons/parent.png") no-repeat;
	background-size: cover;
}

.naps-icon {
	background: url("../icons/parent.png") no-repeat;
	background-size: cover;
}

.diaper-icon {
	background: url("../icons/parent.png") no-repeat;
	background-size: cover;
}

.other-icon {
	background: url("../icons/parent.png") no-repeat;
	background-size: cover;
}

.section-title {
	float: left;
	height: 100px;
	line-height: 100px;
	margin-left: 32px;
	width: 85%;
}

.glyphicon {
	float: right;
	position: absolute;
	right: 100px;
	top: 50%;
}