html, body {
	position: relative;
	margin: 0;
}

.modal-header {
	background-color: #562A72;
}

.modal-content {
	width: 600px;
	display: inline-block;
}


.categories {
	margin-bottom: 10px;
}

.btn-default.active:focus {
	outline: none;
	box-shadow: none;
}


.btn-default:active:focus{
	outline: none;
	box-shadow: none;
}

.participants {
	display: inline-block;
}

.participants h4 {
	display: inline;
	float: left;
}

.participants .col-lg-6 {
	display: inline;
	float: left;
	vertical-align: middle;
}

.search-button {
	position: absolute;
	right: 10px;
	width: 10px;
	z-index: 10;
	line-height: 35px;
	top: 0;
}
textarea {
	padding: 10px;
	max-width: 100%;
	display: block;
	resize: none;
}