@import "mainLayout.css";

.home-content {
    position: absolute;
	display: inline-block;
	margin: auto;
	padding: 32px;
	width: 70%;
    left: 15%;
	min-width: 550px;
	height: auto;
}

#image-container > * {
    margin: 20px 0;
}
.indiv-container {
    height: 220px;
    width: 175px;
    border: 1px solid #cecece;
    background-color: white;
    box-shadow: 0 0 15px -5px #999999;
}

.darken {
    position: relative;
    background: black;
    width: 150px;
    height: 150px;
}

.student-photo-container {
    margin-top: 10px;
}

.student-photo {
    height: 150px;
    width: 150px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.darken:hover .student-photo {
    opacity: .5;
}

.darken:hover .image-overlay {
    display: block;
}

.image-overlay {
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}

.student-photo:hover .image-overlay {
    display: block;
}

.student-icon {
    display: inline;
    cursor: pointer;
    margin: 0px 10px;
    font-size: 40px;
}

.student-name {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
}

.student-prompt {
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 10px;
    height: 30px;
    font-size: 14px;
}

.glyphicon-earphone {
    color: #39C30E;
}

.glyphicon-list-alt {
    color: #f5f5f5;
}

.col-icon {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.header > *{
    display: inline-block;
}

.header > h1 {
    margin-top: 0px;
}

.banner > span {
    float: right;
    margin: auto;
}

