body {
    margin: 0px;
    background-color: #ffffff;
}

body > * {
	font-family: Arial, Verdana, sans-serif;
	color: black;
    margin: 10px;
}

h1 {
	font-family: 'Economica';
	font-size: 3em;
}

.banner {
    width: 100%;
    background-color: #ad4cbd;
    color: black;
    margin: 0px 0px 20px 0px;
}

.banner-logo {
	margin-left: 10px;
	height: 80px;
}

#image-container > *{
	margin: 20px 0;
}

.image-frame {
	width: 300px;
	height: 300px;
	margin: 20px;
	display: inline-block;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.student-photo {
	cursor: pointer;
	margin: 0 auto;
}

.student-photo:hover + .icon-container {
	height: 50px;
	background-color: red;
}

.btn-custom, btn-custom:visited:hover:active {
	color: white;
	margin-bottom: 20px;
}

.btn-custom {
	border-color: #FFBA63;
	background-color: #FFA739;
}

.btn-custom:hover {
	color: white;
	border-color: #FF8E00;
	background-color: #C56E00;
}

.btn-custom:active {
	color: white;
	background-color: #9B5600;
}

.col-center {
	float: none;	
	margin: 0 auto;
}