body {
    margin: 0px;
	font-family: "Gill Sans MT", Verdana, Arial, sans-serif;
    background-color: #f2f2f2;
}

body > * {
	font-family: "Gill Sans MT", Verdana, Arial, sans-serif;
	color: #393939;
    font-size: 12px;
}

/* Banner properties */
.banner {
    position: relative;
    width: 100%;
    background-color: #562A72;
    color: #8B729C;
}

.banner-logo {
	margin-left: 10px;
	height: 60px;
}

.banner-button-wrapper{
    position: absolute;
    right: 20px;
}

.btn-banner, .btn-incident {
    font-size: 14px;
    margin: auto auto;
    width: 115px;
}

.btn-banner, .btn-banner:visited:hover:active {
    color: #947EA2;
}

.btn-banner {
    background-color: #562A72;
    line-height: 60px;
    height: 60px;
    padding: 0;
    margin: auto 5px;
}

.btn-banner:visited {
    background-color: #562A72;
    color: #947EA2;
}

.btn-banner:hover {
    background-color: #7E5C94;
    color: white;
}

.btn-banner:active {
    background-color: #6b4f7d;
    color: white;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: none;
	color: white;
}

.btn-incident, .btn-incident:visited {
    background-color: #FB7706;
    color: white;
    height: auto;
    line-height: 30px;
}

.btn-incident:visited {
    background-color: #FB7706;
    color: white;
}

.btn-incident:hover {
    background-color: #ED5C1E;
}

.btn-incident:active {
    background-color: #b3400f;
    color: white;
}

/* Incident report popup */
.close {
    color: #fefefe;
}

.close:visited {
    color: #fefefe;
}

.close:hover {
    color: white;
}

.close:active {
    color: #cecece;
}

/* Buttons and other misc. */
.btn-custom, .btn-custom:visited:hover:active {
	color: white;
	margin-bottom: 20px;
}

.btn-custom {
	background-color: #e7d3f3;
	color: #1C012D;
}

.btn-custom:hover {
	color: white;
	background-color: #7E5C94;
}

.btn-custom:active {
	color: white;
	background-color: #5f456e;
}

.col-center {
	float: none;
	margin: 0 auto;
}