body {
    margin: 0px;
	font-family: "Gill Sans MT", Verdana, Arial, sans-serif;
    background-color: #ffffff;
}

body > * {
	font-family: "Gill Sans MT", Verdana, Arial, sans-serif;
	color: #393939;
}

.banner {
    width: 100%;
    background-color: #562A72;
    color: #8B729C;
}

.banner-logo {
	margin-left: 10px;
	height: 80px;
}

.btn-custom, .btn-custom:visited:hover:active {
	color: white;
	margin-bottom: 20px;
}

.btn-custom {
	background-color: #e7d3f3;
	color: #1C012D;
}

.btn-custom:hover {
	color: white;
	background-color: #7E5C94;
}

.btn-custom:active {
	color: white;
	background-color: #9B5600;
}

.col-center {
	float: none;	
	margin: 0 auto;
}