body {
    margin: 0px;
	font-family: "Gill Sans MT", Verdana, Arial, sans-serif;
    background-color: #ffffff;
}

body > * {
	font-family: "Gill Sans MT", Verdana, Arial, sans-serif;
	color: black;
}

.banner {
    width: 100%;
    background-color: #ad4cbd;
    color: black;
    margin: 0px 0px 20px 0px;
}

.banner-logo {
	margin-left: 10px;
	height: 80px;
}

.btn-custom, .btn-custom:visited:hover:active {
	color: white;
	margin-bottom: 20px;
}

.btn-custom {
	background-color: #FFA739;
}

.btn-custom:hover {
	color: white;
	background-color: #C56E00;
}

.btn-custom:active {
	color: white;
	background-color: #9B5600;
}

.col-center {
	float: none;	
	margin: 0 auto;
}