<div class="indiv-section">
	<div class="class-info">
		<div class="indiv-name"></div>
		<div class="last-saved"><span class="last-saved-label">Last Saved: </span><span class="last-saved-time">10:45 AM</span></div>
		<div class="indiv-contact">Joe, Kyle, Mandy, Sarah</div>
		<div class="class-subheading">* These updates will be added to the forms of all students in the class.</div>
	</div>
</div>

<div id="accordion" class="class-form form-container">
		<div class="section-heading">
			<div class="section-icon activities-icon"></div>
			<div class="section-title">Activities</div>
			<div class="glyphicon glyphicon-menu-down"></div>
		</div>
		<div id="activities-body" class="section-body section-static">
			<textarea name="form-input" cols="150" rows="5" wrap="virtual"></textarea>
			<div class="btn-custom save-btn btn btn-small">Done</div>
		</div>
		<div class="section-heading">
			<div class="section-icon food-icon"></div>
			<div class="section-title">Food</div>
			<div class="glyphicon glyphicon-menu-down"></div>
		</div>
		<div id="food-body" class="section-body section-static">
			<textarea name="form-input" cols="150" rows="5" wrap="virtual"></textarea>
			<div class="btn-custom save-btn btn btn-small">Done</div>
		</div>
		<div class="section-heading">
			<div class="section-icon naps-icon"></div>
			<div class="section-title">Naps</div>
			<div class="glyphicon glyphicon-menu-down"></div>
		</div>
		<div id="naps-body" class="section-body section-static">
			<textarea name="form-input" cols="150" rows="5" wrap="virtual"></textarea>
			<div class="btn-custom save-btn btn btn-small">Done</div>
		</div>
</div>