<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h3 class="modal-title">Incident Report</h3>
</div>
<div class="modal-body">
	<div class="categories">
		<button type="button">Sick</button>
		<button type="button">Injury</button>
		<button type="button">Other</button>
	</div>

	<div class="participants">
		<!-- <div class="children-search"> -->
		<h4>Children Involved</h4>
			<div class="col-lg-6">
				<div class="input-group">
					<!-- <h4>Children Involved</h4> -->
						<input type="text" class="form-control" placeholder="Search for...">
						<span class="search-button glyphicon glyphicon-search"></span>
				</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
		</div>

		<div class="description">
			<h4>Description of Incident</h4>
			<textarea name="description-input" cols="75" rows="5" wrap="virtual"></textarea>
			<h4>Care Given</h4>
			<textarea name="description-input" cols="75" rows="5" wrap="virtual"></textarea>
		</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-custom" data-dismiss="modal">Send to Parents</button>
</div>
</div>