<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h3 class="modal-title">Incident Report</h3>
</div>
<div class="modal-body">
	<div class="categories">
		<button type="button" class="incident-btn btn-default btn active">Sick</button>
		<button type="button" class="incident-btn btn-default btn">Injury</button>
		<button type="button" class="incident-btn btn-default btn">Other</button>
	</div>

	<div class="participants">
		<!-- <div class="children-search"> -->
		<h4>Children Involved</h4>
			<div class="col-lg-12 search-container" style="padding: 0">
				<div class="input-group" style="width: 100%">
						<select multiple class="search-for" data-placeholder="Search For..">
							<optgroup label="Class A">
								<option>Abigail</option>
								<option>Laura</option>
								<option>Olivier</option>
								<option>Rebekah</option>
							</optgroup>
							<optgroup label="Class B">
								<option>Joe</option>
								<option>Kyle</option>
								<option>Mandy</option>
								<option>Sarah</option>
							</optgroup>
							<optgroup label="Class C">
								<option>Carl</option>
								<option>Alice</option>
								<option>Lisa</option>
								<option>Bart</option>
							</optgroup>
						</select>
				</div>
			</div>
		</div>

		<div class="description">
			<h4>Description of Incident</h4>
			<textarea name="description-input" cols="75" rows="5" wrap="virtual"></textarea>
			<h4>Care Given</h4>
			<textarea name="description-input" cols="75" rows="5" wrap="virtual"></textarea>
		</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-custom" data-dismiss="modal">Send to Parents</button>
</div>
</div>

<script type="text/javascript">

	$('.incident-btn').click(function(){
		var buttons = $('.incident-btn');
		buttons.removeClass('active');
		$(this).addClass('active');
	});

	$('.search-for').chosen({width: '100%'})
</script>