
<div class="indiv-section">
	<div class="section-icon indiv-icon"></div>
	<div class="indiv-info">
		<div class="indiv-name">Joe Desler</div>
		<div class="last-saved"><span class="last-saved-label">Last Saved: </span><span class="last-saved-time">10:45 AM</span></div>
		<div class="indiv-contact">Dad: 510.888.8888</div>
	</div>
</div>
<div id="accordion" class="form-container">
	<div class="section-heading">
		<div class="section-icon parent-icon"></div>
		<div class="section-title">Parent Comments</div>
		<div class="glyphicon glyphicon-menu-right"></div>
	</div>
	<div id="parent-body" class="section-body">
		<textarea name="form-input" cols="150" rows="5" wrap="virtual"></textarea>
		<div class="btn-custom save-btn btn btn-small">Save</div>
	</div>
	<div class="section-heading">
		<div class="section-icon activities-icon"></div>
		<div class="section-title">Activities</div>
		<div class="glyphicon glyphicon-menu-right"></div>
	</div>
	<div id="activities-body" class="section-body">
		<textarea name="form-input" cols="150" rows="5" wrap="virtual"></textarea>
		<div class="btn-custom save-btn btn btn-small">Save</div>
	</div>
	<div class="section-heading">
		<div class="section-icon food-icon"></div>
		<div class="section-title">Food</div>
		<div class="glyphicon glyphicon-menu-right"></div>
	</div>
	<div id="food-body" class="section-body">
		<textarea name="form-input" cols="150" rows="5" wrap="virtual"></textarea>
		<div class="btn-custom save-btn btn btn-small">Save</div>
	</div>
	<div class="section-heading">
		<div class="section-icon naps-icon"></div>
		<div class="section-title">Naps</div>
		<div class="glyphicon glyphicon-menu-right"></div>
	</div>
	<div id="naps-body" class="section-body">
		<textarea name="form-input" cols="150" rows="5" wrap="virtual"></textarea>
		<div class="btn-custom save-btn btn btn-small">Save</div>
	</div>
	<div class="section-heading">
		<div class="section-icon diaper-icon"></div>
		<div class="section-title">Diaper Changes</div>
		<div class="glyphicon glyphicon-menu-right"></div>
	</div>
	<div id="diaper-body" class="section-body">
		<textarea name="form-input" cols="150" rows="5" wrap="virtual"></textarea>
		<div class="btn-custom save-btn btn btn-small">Save</div>
	</div>
	<div class="section-heading">
        <div class="section-icon ellipsis-icon"></div>
		<div class="section-title">Other Comments</div>
		<div class="glyphicon glyphicon-menu-right"></div>
	</div>
	<div id="other-body" class="section-body">
		<textarea name="form-input" cols="150" rows="5" wrap="virtual"></textarea>
		<div class="btn-custom save-btn btn btn-small">Save</div>
	</div>
</div>